{% extends "nm2-base.html" %}
{% load nm %}

{% block content %}

<h1>Confirm association of SSO username to existing person</h1>

{% if errors %}
<p>There have been error with your confirmation email:
<ul class="condensed">
  {% for e in errors %}
  <li>{{e}}</li>
  {% endfor %}
</ul>
</p>
{% endif %}

{% if mapped %}
<p>Your Single Sign-On account name <b>{{identity.subject}}</b> is now associated to
<a href="{{person.get_absolute_url}}">{{person}}</a>. If you visit that page,
you should now be recognised as the owner of the page.</p>
{% endif %}

{% endblock %}

