{% load nm %}
{% load i18n %}

<p>{% trans "The most important requirement for changing status in Debian is to make sure that a person actually intends to do so." %}</p>

{% if edit %}

<p>{% blocktrans context "to a particular mailing list" %}Paste a signed Statement of Intent in the form below, and
    it will automatically be posted to {% endblocktrans %}
    {% if process.applying_for == "dd_e" %}<a href="https://lists.debian.org/debian-private/">debian-private</a>
    {% else %}<a href="https://lists.debian.org/debian-newmaint/">debian-newmaint</a>
    {% endif %}.
</p>

<p>{% trans "An example Statement of Intent can be something like this:" %}

<pre>
{% language 'en' %}
{% if process.applying_for == "dd_e" %}
Dear fellow developers,

As I am not currently active in Debian, I request to move to the Emeritus
status.

So long, and thanks for all the fish.
{% else %}
For nm.debian.org, at {{now|date:"Y-m-d"}}:
I would like to apply to change my status in Debian to {{process.applying_for|desc_status}}.
I have worked on X and Y for a while and I would like to be able to Z.
</pre>
</p>
{% endif %}
{% endlanguage %}


{% endif %}
