{% extends "process/nm2-base.html" %}
{% load nm %}
{% load i18n %}

{% block content %}

<h1>{% trans "Add" %} {{type_desc}}</h1>

{% include explain_template with edit=True %}

{% if blurb %}
<p>{% blocktrans %}For your convenience, you can generate the signed statement
with this command, and this site will recognise the text and accept it without
the need for manual verification of its content:{% endblocktrans %}</p>

<pre>
(
  {% for line in blurb %}echo {{line}}
  {% endfor %}
) | gpg --clearsign --default-key {{user.fpr}}
</pre>
{% endif %}

<p>{% trans "Use the following command to create the signed statement:" %}<br>
    <code>gpg --clearsign --default-key {{visitor_fpr}}</code></p>

<p>{% trans "Handy command lines:" %}
<ul>
  <li><code>xclip -o | gpg --clearsign --default-key {{user.fpr}} | xclip</code></li>
  <li><code>xclip -selection clipboard -o | gpg --clearsign --default-key {{user.fpr}} | xclip -selection clipboard</code></li>
</ul>
</p>

<p>{% blocktrans %}It is a good idea to include some context information like
the date and nm.debian.org in the text, in case someone tries to reuse the
signed statement somewhere else.{% endblocktrans %}</p>

<p>{% blocktrans with fpr=user.fpr|fingerprint %}The signature will be verified using the key {{ fpr }}{% endblocktrans %}</p>

{% if requirement.type != "sc_dmup" and requirement.type != "approval" %}
<p>{% blocktrans with visitor=user.fullname%}The statement will be sent to <a href="https://lists.debian.org/debian-newmaint">debian-newmaint</a> as <code>{{visitor}}{% endblocktrans %}
    {% if "edit_email" in visit_perms %}
      <a href="{% url 'person:edit_email' key=user.lookup_key %}">&lt;{{user.email}}&gt;</a></code>.
    {% else %}
      &lt;{{user.email}}&gt;</code>.
    {% endif %}
</p>
{% endif %}

<form action="" method="post">{% csrf_token %}
  {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
  {% for field in form.visible_fields %}
  {{ field.label_tag }}<br>
  {{ field }}<br>
  {{ field.errors }}
  {% endfor %}        
  {{ form.non_field_errors }}
  <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
</form>

{% endblock %}
