{% extends "nm2-base.html" %}
{% load i18n %}
{% load nm %}

{% block content %}

<h1>{% trans "Debian New Member - AM Profile" %}</h1>

<table class="table table-sm">
    <tr><th>{% trans "First name" %}</th><td>{{person.ldap_fields.cn}}</td></tr>
    <tr><th>{% trans "Middle name" %}</th><td>{{person.ldap_fields.mn|default:""}}</td></tr>
    <tr><th>{% trans "Last name" %}</th><td>{{person.ldap_fields.sn|default:""}}</td></tr>
    <tr><th>{% trans "Email" %}</th><td>{{person.preferred_email}}</td></tr>
    <tr><th>{% trans "Account name" %}</th><td>{{person.ldap_fields.uid|default:"none chosen yet"}}</td></tr>
    <tr><th>{% trans "OpenPGP fingerprint" %}</th><td>{{person.fpr|fingerprint}}</td></tr>
    <tr><th>{% trans "Current status" %}</th><td>{{person.status}}</td></tr>
    {% if user.is_superuser %}
    <tr><th>{% trans "Person FD comments" %}</th><td id="fd_comments">{{person.fd_comment}}</td></tr>
    {% endif %}
</table>

<h2>{% trans "Change AM details" %}</h2>

<form action="{% url 'person:amprofile' key=person.lookup_key %}" method="post">{% csrf_token %}
{% for field in form %}
<div class="form-group">
  {{field.label_tag}}
  {{field}} {{field.errors}}
</div>
{% endfor %}
<button class="btn btn-primary" type="submit">{% trans "Change" %}</button>
</form>

{% endblock %}

