{% extends "nm2-base.html" %}
{% load i18n %}
{% load static %}
{% load nm %}
{% load none_if_epoch %}

{% block head %}
{{block.super}}
<style type="text/css">
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body:before {
  content: "";
  background: no-repeat url('{% static "debian/img/openlogo-nd.svg" %}');
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  opacity: 0.2;
  z-index: -1;
}
#main-content { 
  flex: 2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.textblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: serif;
}
#cert-head {
  flex: 2;
  display: flex;
  flex-direction: row;
}
#cert-logo {
  flex-grow: 0;
  width: 20%;
}
#cert-title {
  flex-grow: 3;
  margin-right: 20%;
  height: 100%;

  font-size: 60px;
  text-align: center;
}
#cert-name {
  flex-grow: 2;

  font-size: 42px;
  text-align: center;
  font-weight: bold;
}
#cert-text {
  flex-grow: 2;
  text-align: center;
}
#cert-status {
  font-size: 24px;
  font-weight: bold;
}
#cert-techinfo {
  flex-grow: 2;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  align-items: start;
}
#cert-techinfo p {
  font-family: monospace;
}
#cert-debian-url {
  flex-grow: 2;
  text-align: center;
  font-family: monospace;
  font-size: 24px;
  font-weight: bold;
}
#cert-debian-url a {
  color: black;
  text-decoration: none;
}
#cert-debian-url a:hover {
  color: blue;
  text-decoration: underline;
}
#cert-signature {
  display: grid;
  flex-grow: 2;
  text-align: center;
}
#cert-signature-text {
  grid-column: 1;
  grid-row: 1;
}
p {
  margin: 0;
}
#cert-signature-scribble {
  grid-column: 1;
  grid-row: 1;
  background: no-repeat url('{% url 'person:restricted_media' filename='dpl_signature.png' %}');
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
}
#cert-date {
  flex-grow: 2;
  text-align: center;
}
#print-instructions {
  position: fixed;
  right: 5%;
  top: 10%;
  border: 2pt dashed black;
  width: 25%;
  padding: 1em;
  background: rgba(255, 255, 255, 0.5);
  text-align: justify;
  font-family: sans-serif;
}
#print-instructions p {
  margin-top: 0.5em;
}
#print-instructions h3 {
  text-align: center;
  background: yellow;
  font-family: serif;
}
</style>
{% endblock %}

{% block content %}

<div id="print-instructions" class="d-print-none">
  <h3>Printing instructions</h3>

  <p>You can print this page or save it to PDF, and it should do the right thing.</p>

  <p>Portrait and landscape should equally work.</p>

  <p>In the print settings, depending on browsers, you may need to enable printing
  backgrounds, and disable printing headers.</p>
</div>

<div id="cert-head">
  <div id="cert-logo">
    <img src="{% static "debian/img/officiallogo.svg" %}"></img>
  </div>
  
  <div id="cert-title" class="textblock">
    <p id="cert-title-text">Certificate</span>
  </div>
</div>

<div id="cert-name" class="textblock">
  <p id="cert-name-text">{{person.fullname}}</span>
</div>

<div id="cert-text" class="textblock">
  <p id="cert-text-lead">
  {% if person.status_changed|is_epoch %}
  Since the very early years of Debian, is a
  {% else %}
  Has passed through the <b>New Maintainer Process</b>,<br/>
  has been approved by the <b>Debian Account Managers</b>,<br/>
  and therefore has become a
  {% endif %}
  </p>

  <p id="cert-status">Debian Developer</p>

  <p id="cert-status-detail">
  with voting rights{% if upload_rights %} and upload access to the Debian archive{% endif %}.
  </p>
</div>

<div id="cert-techinfo" class="textblock">
  <p>Login: {{person.get_ldap_uid}}</p>
  <p>Email address: {{person.get_ldap_uid}}@debian.org</p>
  <p>PGP/GPG fingerprint: {{person.fpr|fingerprint}}</p>
  {% if not person.status_changed|is_epoch %}
  <p>Attainment date: {{person.status_changed|date:"Y-m-d"}}</p>
  {% endif %}
</div>

<div id="cert-debian-url" class="textblock">
  <a href="{{check_url}}">{{check_url}}</a>
</div>
<div id="cert-signature-scribble">
</div>
<div id="cert-signature" class="textblock">
  <div id="cert-signature-text">
    <p id="cert-sig-name">Andreas Tille</p>
    <p>Debian Project Leader</p>
  </div>
</div>

<div id="cert-date" class="textblock">
  Date of Certificate issuance: {{today}}
</div>

{% endblock %}
