{% extends "process/nm2-base.html" %}
{% load nm %}
{% load i18n %}

{% block content %}

<h1>{% blocktrans with person=person.lookup_key fpr=fpr|fingerprint %}Endorsements of {{ person }}'s key {{ fpr }}{% endblocktrans %}</h1>

<table class="table table-sm">
  <thead>
    <tr>
      <th>{% trans "Endorsed by" %}</th>
      <th>{% trans "Date" %}</th>
      <th>{% trans "Statement" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for e in endorsements %}
    <tr>
      <td>{{e.author.a_link}}</td>
      <td>{{e.date|date:"Y-m-d"}}<br><small>({% blocktrans with time=e.date|timesince %}{{ time }} ago{% endblocktrans %})</small></td>
      <td>
        <pre class="inline-statement mb-0">{{e.text_clean}}</pre>
        <small><i>
            {% if e.endorsing_fpr.fpr %}{% blocktrans with key=e.endorsing_fpr.fpr|fingerprint %}Signed with key {{ key }}{% endblocktrans %}
            {% else %}{% trans "Unsigned" %}{% endif %}
        </i></small>
      </td>
      <td>
        <a class="btn btn-sm btn-primary" href="{% url 'fprs:view_raw_endorsement' key=person.lookup_key fpr=fpr endorsement=e.pk %}">{% trans "View raw" %}</a>
        {% if e.author == user or user.is_superuser %}
        <a class="btn btn-sm btn-warning fprs:endorsement_delete" href="{% url 'fprs:delete_endorsement' key=person.lookup_key fpr=fpr endorsement=e.pk %}">{% trans "Delete" %}</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% if "endorse_key" in visit_perms %}
  <tfoot>
    <tr>
      <td colspan="3">
        <a class="btn btn-primary" href="{% url 'fprs:endorse' key=person.lookup_key fpr=fpr %}">Add your endorsement</a>
      </td>
    </tr>
  </tfoot>
  {% endif %}
</table>

{% endblock %}

